<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kryptonite Gaming</title>

    <link rel="apple-touch-icon" sizes="57x57" href="../icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../icons/favicon-16x16.png">
    <link rel="manifest" href="../icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../icons/ms-icon-144x144.png">


    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />
    <link href="../css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="../css/animate.css" rel="stylesheet" type="text/css" />
    <link href="../css/mediaelementplayer.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/shortcodes.css?t=4" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/responsive.css" rel="stylesheet" type="text/css" />

    <link href="../css/slick.css" rel="stylesheet" type="text/css" />
    <link href="../css/slick-theme.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" type="text/css" href="../css/slots.css?t=@DateTime.Now.Millisecond" />


</head>
<body style="background-image: url('../images/dark-green-bg2.jpg');background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;height: 100%;background-color:black;min-height:100%;margin-bottom:60px; ">


    <!-- loading -->
    <div id="loading">
        <div id="loading-center" style="background-color:black;">
            <img style="width:50%;" src="../images/splash.png" alt="loder">
        </div>
    </div>
    <!-- loading End -->
    <!-- HEADER  -->
    <header class="header-01 dark-transparent">
        <!-- menu start -->
        <nav id="menu-1" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="index.html">
                                        <img src="../images/logo-new.png" alt="logo">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">

                            <div class="row" style="padding-top:10px;color:white;">

                                <div class="col-md-12" style="text-align:center;">
                                    Credits:
                                </div>

                            </div>
                            <div class="row" style="padding-top:10px;">
<<<<<<< HEAD
                                <div id="divCredits" class="col-md-12" style="text-align:center;font-size:40px;color:white;">
                                    <b></b>
=======
                                <div class="col-md-12" style="text-align:center;font-size:40px;color:white;">
                                    <b>$123.00</b>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                </div>
                            </div>

                        </div>
                        <div class="col=md-4">
                            <ul class="menu-sidebar pull-right" style="font-size:30px;">

                                <li>
                                    <a href="#"><i class="fa fa-user"></i> Account  @Session["UserName"]</a>
                                </li>
                                <li>

                                    <a href="@Url.Action("SignOut", "Account")"><i class="fa fa-lock"></i> Log Out</a>

                                </li>

                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->
                                <li style="display:none;" class="active">
                                    <a href="javascript:void(0)"><i class="fa fa-home"></i> Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
    </header>
    <!-- /HEADER END -->
    <!--=================================
    MAIN CONTENT -->


<<<<<<< HEAD
    <div class="container body-content">
=======
    <div class="container body-content" >
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
        @RenderBody()
    </div>

    <!--=================================
    Footer -->
    <footer class="iq-footer2 iq-over-black-80 iq-bg jarallax" style="display:none;background-image: url('../images/bg/22.jpg'); background-position: left center;position:absolute;bottom:0; width:100%;">

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="iq-copyright iq-mt-10 iq-font-white">
                            <p>&copy; @DateTime.Now.Year - Kryptonite Gaming</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    Footer -->
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>
    <!-- back-to-top End -->



    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/InputSpinner.js"></script>
    <script src="../js/touchspin.js"></script>
    <script src="../js/mega-menu/mega_menu.js"></script>

    <script src="../js/slick.js"></script>

    <script src="../js/slots.js?t=@DateTime.Now.Millisecond"></script>

    <script src="../js/kryptonite.js?t=@DateTime.Now.Millisecond"></script>

    <script>


        function FillAccountData() {
            
            var strURL = "../DataAccess.ashx?method=GetAccount&id=" + @Session["UserName"];
            
            var strResponse = GetXMLHTTPResponse(strURL);

            var objAccount = JSON.parse(strResponse);
            
            $("#divCredits").html("<b>$" + objAccount.Credits.toFixed(2) + "</b>");
            
        }

        jQuery(document).ready(function () {

<<<<<<< HEAD
            // Fill credits and account
            FillAccountData();
=======
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d

            InitPage();

        }); /*ready*/

    </script>


</body>
</html>
